.fundoLogin {
    background-image: url(../../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;    
    background-position: center;
  }

  .fundoLogin2 {
    background-image: url(../../assets/oculoslivros.svg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;    
    background-position: center;
  }

  .metadePagina {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto transparente */
  }
  